@model IEnumerable<MVCMovieCustWithAuth.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customer List</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>CustomerName</th>
            <th>Date Of Birth</th>
            <th>DicountRate</th>
        </tr>
    </thead>
<tbody>
        @foreach (var customer in Model)
        {
    <tr>
        <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
        <td>@customer.DOB.ToString("dd/MM/yyyy")</td>
        <td>@customer.MenberShipType.DiscountRate%</td>
    </tr>
        }
    </tbody>
</table>
